body {
    width: 500px;
    margin: 5px auto;
}

input[type=text] {
    width: 300px;
    font-size: 16px;
    padding: 12px 10px 12px 10px;
    border-radius: 4px;
}

input[type=submit] {
    width: 100px;
    font-size: 16px;
    padding: 12px 10px 12px 10px;
    color: #000;
    border: solid #ccc;
}